[user]
    name = Austin Gregory
    email = austinggregory@gmail.com
    signingkey = D6B2EA49930EC8E5
[core]
    autocrlf = input
    editor = /usr/local/bin/nvim
[merge]
    tool = nvimdiff
    conflictStyle = diff3
[mergetool]
    keepBackup = false
    prompt = false
[mergetool "nvimdiff"]
    cmd = nvim -d $LOCAL $MERGED $REMOTE
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[difftool "nvimdiff"]
    cmd = nvim -d $LOCAL $REMOTE
[alias]
    a = add
    aa = add --all
    amend = commit --amend --no-edit
    b = branch
    ci = commit
    co = checkout
    cob = checkout -b
    f = fetch --all --tags
    fp = fetch --all --tags --prune --prune-tags
    ll = log --graph --oneline --decorate --all
    rb = rebase
    rbi = rebase -i
    rs = reset
    rsh = reset --hard
    s = status -sb
[push]
    autoSetupRemote = true
    default = simple
[pull]
    rebase = true
[url "git@github.com:"]
    insteadOf = https://github.com/
[commit]
    gpgsign = true
